# .gitignore file
#
# Set up for Microchip/MPLAB X development
#
# Updated Nov 06, 2019, M91406

# Object files
*.o
*.ko
*.obj
*.elf

# Executables
*.exe

# Netbeans specific
~*.*
nbproject/build/
nbproject/dist/
nbproject/private/
nbproject/disassembly/
build/
dist/
private/
disassembly/
*.zip
*.mk
*.bash
Makefile-genesis.properties

# MPLAB X Trace specific
*.log
*.inx

# KDE specific
.directory

# Misc
.svn
*.bak



