# .gitignore file
#
# Set up for Microchip/MPLAB X development
#
# Updated May 07, 2015, C14029
# Updated May 30, 2019, M91406
# Updated Nov 06, 2019, M91406, excluding framework folder 'apps' and user code files in 'config' module folders

# Object files
*.o
*.ko
*.obj
*.elf

# Executables
*.exe

# Appliation layer user files exclusions
# PLEASE COMMENT THESE IGNORED FOLDERS WHEN USING THIS .gitignore FILE IN A PROJECT
# THIS IS ONLY TO KEEP THE RTOS REPOSITORY CLEAN. USER CODE WILL BE IGNORED.
h/_root/config
h/apl/app
h/apl/driver
h/apl/config
h/hal/config
h/mcal/config
src/_root/config
src/apl/app
src/apl/driver
src/apl/config
src/hal/config
src/mcal/config

# Netbeans specific
~*.*
nbproject/build/
nbproject/dist/
nbproject/private/
nbproject/disassembly/
build/
dist/
private/
disassembly/
*.zip
*.mk
*.bash
Makefile-genesis.properties

# MPLAB X Trace specific
*.log
*.inx

# KDE specific
.directory

# Misc
.svn
*.bak



